.navbar {
  position: absolute;
  width: 100%;
}
.nav-link {
  margin-right: 40px;
}
.nav-login {
  margin-left: 15px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.nav-login:hover {
  color: rgba(0, 0, 0, 0.7);
}
nav .navbar-collapse {
  justify-content: flex-end !important;
  transition: opacity 1s ease-out;
  opacity: 1;
  z-index: 2;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
}
@media (max-width: 990px) {
  .collapse.navbar-collapse {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    margin-top: 60px;
    width: 90%;
    left: 5%;
  }
}
