@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;700;800;900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "Darker Grotesque";
  color: #474d46;
  letter-spacing: 2px;
}
h1 {
  font-size: 6rem;
  font-weight: 500;
}
h2 {
  font-size: 4rem;
}
h5 {
  font-size: 1.5rem;
}
p {
  color: #474d46;
  font-family: "Darker Grotesque";
  font-size: 1.3rem;
}
a {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
img {
  width: 100%;
}
input {
  padding: 18px;
  background-color: #f2f5f1;
  border: 2px white solid;
  width: 400px;
  font-family: "Darker Grotesque";
  color: #474d46;
  font-size: 1.2rem;
}
.section-space {
  padding: 100px 0px;
}
hr.divider {
  width: 80px;
  border-top: 4px solid #81988e;
  border-radius: 30px;
}
.btn-outline-primary {
  color: #474d46;
  border-color: #474d46;
  font-size: 1rem;
  border-radius: 0px;
  font-weight: 600;
  border-width: 2px;
  letter-spacing: 4px;
  padding: 10px 14px;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #474d46;
  border-color: #474d46;
}
.background-gray {
  background-color: #f2f5f1;
}
.background-dark-gray {
  background-color: #dfe4de;
}

@media (max-width: 990px) {
  input {
    width: 300px;
  }
}
